@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div><img src="/images/MTG_TLA_INDEX.jpg" alt="Magic:The Gathering Avatar Elements" style="max-width: 800px;"/></div>
</div>
